name: Integración Continua Demo
on:
push:
branches: [ "main" ]
pull_request:
branches: [ "main" ]
jobs:
build:
runs-on: ubuntu-latest
steps:
- name: Descargar código
uses: actions/checkout@v3
- name: Instalar dependencias
run: npm install
- name: Ejecutar pruebas
run: npm test